@bgColor: #eaf0f4;
@mainColor: #94e092;
@white: #ffffff;

body {
  margin: 0px;
  background-color: @bgColor;
}

.nav-header {
  height: 60px;
  background-color: @white;
  .app-title {
    padding-left: 15px;
    color: @mainColor;
    font-size: 32px;
    font-weight: bold;
  }
}
